<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>data-democracy.ai</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- Ensure you have styles.css in your static/css/ directory -->
</head>
<body>
    <header>
        <nav id="horizontal-nav">
            <div>Auto Analyze</div>
            <div>Scan Websites</div>
            <div>Scan Images</div>
            <div>About</div>
            <div>Contact</div>
        </nav>
    </header>

    <main>
        <div id="globe-container"></div>
              
        <div id="button-container">
            <button id="btn-auto-analyze">Auto-Analyze Data</button>
            <button id="btn-scan-websites">Scan Websites with Keywords</button>
            <button id="btn-scan-images">Scan Images for Text</button>
        </div>
    </main>

    <footer>
        <div id="language-selector">
            <!-- Language switch will go here -->
        </div>
    </footer>

    <script type="text/javascript">

    var worldMapPath = "{% static 'democratize/worldpoints.webp' %}"; 
    </script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://d3js.org/topojson.v3.min.js"></script>
    <script src="{% static 'js/globe.js' %}"></script>
</body>
</html>
